@model IEnumerable<WebAPI.Country>

@{
    ViewData["Title"] = "Države";
}

<h1>Države</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Država
            </th>
            <th>
                Regija
            </th>
            <th><a asp-action="Create">+ Dodaj državo</a></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region.RegionName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CountryId">Uredi</a> |
                @*<a asp-action="Details" asp-route-id="@item.CountryId">Podrobnosti</a> |*@
                <a asp-action="Delete" asp-route-id="@item.CountryId" onclick="return confirm('Izbrisali boste državo: @item.CountryName!')">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
