@model IEnumerable<WebAPI.Country>

@{
    ViewData["Title"] = "Država";
}

<h1>Država</h1>

<p>
    <a asp-action="Create">Ustvari</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region.RegionName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CountryId">Uredi</a> |
                <a asp-action="Details" asp-route-id="@item.CountryId">Podrobnosti</a> |
                <a asp-action="Delete" asp-route-id="@item.CountryId">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
