@model IEnumerable<WebAPI.Job>

@{
    ViewData["Title"] = "Delovna mesta";
}

<h1>Delovna mesta</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Naziv
            </th>
            <th>
                Minimalna plača
            </th>
            <th>
                Maksimalna plača
            </th>
            <th><a asp-action="Create">+ Dodaj delovno mesto</a></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxSalary)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.JobId">Uredi</a> |
                @*<a asp-action="Details" asp-route-id="@item.JobId">Podrobnosti</a> |*@
                <a asp-action="Delete" asp-route-id="@item.JobId" onclick="return confirm('Izbrisali boste delovno mesto: @item.JobTitle!')">Izbriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
