@model WebAPI.Employee

@{
    ViewData["Title"] = "Podrobnosti";
}

<h1>Podrobnosti</h1>

<div>
    <h4>Id zaposlenega: @Model.EmployeeId</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Ime
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            Priimek
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            E-pošta
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            Telefonska številka
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            Datum najema
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(String.Format($"{Model.HireDate:dd, MMMM, yyyy}"))
        </dd>
        <dt class = "col-sm-2">
            Plača
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            Delovno mesto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Job.JobTitle)
        </dd>
        <dt class = "col-sm-2">
            Vodja
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manager.FirstName) @Html.DisplayFor(model => model.Manager.LastName)
        </dd>
        <dt class = "col-sm-2">
            Oddelek
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EmployeeId">Uredi</a> |
    <a asp-action="Index">Nazan na tabelo</a>
</div>
